.o_form_view {
    &:not(.o_field_highlight) .o_field_widget:not(.o_field_invalid):not(.o_field_highlight) .o_input:not(:hover):not(:focus) {
        --o-input-border-color: #00000036 !important;
    }
}

